<div style="display:flex; flex-direction:column; align-items:center">
  <div style="position: relative;">
    <img src="api/frame">
    <svg *ngIf="size$|async as size" [style.width.px]="size.width" [style.height.px]="size.height">
      <ng-container *ngIf="coordinates$|async as coords">
        <path [attr.d]="coords.topLeft|pathData:coords.topRight:coords.qTop|async"></path>
        <path [attr.d]="coords.bottomLeft|pathData:coords.bottomRight:coords.qBottom|async"></path>
        <path [attr.d]="coords.topLeft|pathData:coords.bottomLeft:coords.qLeft|async"></path>
        <path [attr.d]="coords.topRight|pathData:coords.bottomRight:coords.qRight|async"></path>
        <circle [point]="coords.topLeft"></circle>
        <circle [point]="coords.topRight"></circle>
        <circle [point]="coords.bottomLeft"></circle>
        <circle [point]="coords.bottomRight"></circle>
        <circle class="q" [point]="coords.qLeft"></circle>
        <circle class="q" [point]="coords.qRight"></circle>
        <circle class="q" [point]="coords.qTop"></circle>
        <circle class="q" [point]="coords.qBottom"></circle>
      </ng-container>
    </svg>
  </div>

  <button (click)="save()">Save</button>
  <button (click)="calibrate()">Calibrate</button>
</div>

<div *ngIf="calibrating" [style.background-color]="color" class="calibration-canvas"></div>
