<div style="display:flex; flex-direction:column; align-items:center">
  <div style="position: relative;">
    <img src="api/frame">
    <svg *ngIf="size$|async as size" [style.width.px]="size.width" [style.height.px]="size.height">
      <ng-container *ngIf="coordinates$|async as coords">

        <ng-container *ngTemplateOutlet="lineTemplate; context:{line:coords.top}"></ng-container>
        <ng-container *ngTemplateOutlet="lineTemplate; context:{line:coords.left}"></ng-container>
        <ng-container *ngTemplateOutlet="lineTemplate; context:{line:coords.bottom}"></ng-container>
        <ng-container *ngTemplateOutlet="lineTemplate; context:{line:coords.right}"></ng-container>

        <ng-template #lineTemplate let-line="line">
          <path [attr.d]="line.from|pathData:line.to:line.q|async"></path>
          <circle [point]="line.from"></circle>
          <circle [point]="line.to"></circle>
          <circle [point]="line.q" class="q"></circle>

        </ng-template>
      </ng-container>
    </svg>
  </div>

  <button (click)="calibrate()">Calibrate</button>
  <ng-container *ngIf="gamma$|async as gamma">
    <label>Gamma</label>
    <input type="range" min="1" max="5" step=".1" [value]="gamma[0]" (change)="updateGamma(0, $event.target.value)" />
    <input type="range" min="1" max="5" step=".1" [value]="gamma[1]" (change)="updateGamma(1, $event.target.value)" />
    <input type="range" min="1" max="5" step=".1" [value]="gamma[2]" (change)="updateGamma(2, $event.target.value)" />
  </ng-container>
</div>

<div *ngIf="calibrating" [style.background-color]="color" class="calibration-canvas"></div>
