svg {
  position: absolute;
  overflow: visible;
  left: 0;
  top: 0;
}

circle {
  cursor: pointer;
  r: 3;
  fill: lightblue;
  transition: r .2s, fill .2s;

  &.q {
    fill: salmon;
  }

  &.dragging,
  &:hover {
    r: 8;
  }
}

path {
  stroke: greenyellow;
  stroke-width: 2;
  fill: transparent;
}

.calibration-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
